# This workflow will build and push a node.js application to an Azure Web App when a commit is pushed to your default branch.
#
# This workflow assumes you have already created the target Azure App Service web app.
# For instructions see https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?tabs=linux&pivots=development-environment-cli
#
# To configure this workflow:
#
# 1. Download the Publish Profile for your Azure Web App. You can download this file from the Overview page of your Web App in the Azure Portal.
#    For more information: https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel#generate-deployment-credentials
#
# 2. Create a secret in your repository named AZURE_WEBAPP_PUBLISH_PROFILE, paste the publish profile contents as the value of the secret.
#    For instructions on obtaining the publish profile see: https://docs.microsoft.com/azure/app-service/deploy-github-actions#configure-the-github-secret
#
# 3. Change the value for the AZURE_WEBAPP_NAME. Optionally, change the AZURE_WEBAPP_PACKAGE_PATH and NODE_VERSION environment variables below.
#
# For more information on GitHub Actions for Azure: https://github.com/Azure/Actions
# For more information on the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# For more samples to get started with GitHub Action workflows to deploy to Azure: https://github.com/Azure/actions-workflow-samples

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: aanodejstest    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '18.x'                # set this to the node version to use
  SCAN_FORTIFY: 'true'
  SCAN_SONAR: 'true'
  SCAN_BLACKDUCK: 'true'

permissions:
  contents: read

jobs:
  setup:
    runs-on: self-hosted
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Npm clean cache (needed?)
      run: pwd

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: Copy .npmrc (TBD)
      run: pwd

  scan_fortify:
#    if: ${{ env.SCAN_FORTIFY }}  == 'true'
    needs: setup
    runs-on: self-hosted
    steps:

    - name: Java Installer for Fortify (TBD)
      run: pwd

    - name: Install Foritify packages (TBD)
      run: pwd

    - name: Extract Tar file for Fortify (TBD)
      run: pwd

    - name: Scan - Fortify (TBD)
      run: pwd

    - name: Publish - Fortify report (TBD)
      run: pwd
    
  build:
    needs: [setup, scan_fortify]
    runs-on: self-hosted
    steps:

    - name: npm install, build(, and test)
      run: |
        npm install
        npm run build --if-present
# npm run test --if-present

    - name: 'Archive production artifacts'
      run: |
        mkdir -p ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        tar -czvf ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node-app.tar.gz *
  
    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v3
      with:
        name: node-app
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node-app.tar.gz

  scan_sonar:
#    if: ${{ env.SCAN_SONAR }} == 'true'
    needs: build
    runs-on: self-hosted
    steps:
    - name: Install SonarQube (TBD)
      run: pwd
    - name: Scan SonarQube (TBD)
      run: pwd

  scan_blackduck:
#    if: ${{ env.SCAN_BLACKDUCK }} == 'true'
    needs: [build, scan_sonar]
    runs-on: self-hosted
    steps:
    - name: Scan BlackDuck (TBD)
      run: pwd

  deploy:
    needs: [build, scan_sonar, scan_blackduck]
    permissions:
      contents: read
    runs-on: self-hosted
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v3
      with:
        name: node-app
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

    - name: Extract artifact
      run: |
        tar -xvf ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node-app.tar.gz -C ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

    - name: Update AppService Settings (TBD)
      run: pwd

    - name: Deploy to Stage slot
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
    
    - name: Wait validation (TBD)
      run: pwd

    - name: Swap slots (TBD)
      run: pwd
