# This workflow will build and push a node.js application to an Azure Web App when a commit is pushed to your default branch.
#
# This workflow assumes you have already created the target Azure App Service web app.
# For instructions see https://docs.microsoft.com/en-us/azure/app-service/quickstart-nodejs?tabs=linux&pivots=development-environment-cli
#
# To configure this workflow:
#
# 1. Download the Publish Profile for your Azure Web App. You can download this file from the Overview page of your Web App in the Azure Portal.
#    For more information: https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel#generate-deployment-credentials
#
# 2. Create a secret in your repository named AZURE_WEBAPP_PUBLISH_PROFILE, paste the publish profile contents as the value of the secret.
#    For instructions on obtaining the publish profile see: https://docs.microsoft.com/azure/app-service/deploy-github-actions#configure-the-github-secret
#
# 3. Change the value for the AZURE_WEBAPP_NAME. Optionally, change the AZURE_WEBAPP_PACKAGE_PATH and NODE_VERSION environment variables below.
#
# For more information on GitHub Actions for Azure: https://github.com/Azure/Actions
# For more information on the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# For more samples to get started with GitHub Action workflows to deploy to Azure: https://github.com/Azure/actions-workflow-samples

name: Build and Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: aanodejstest    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '18.x'                # set this to the node version to use
  IS_UPDATE_APPSETTINGS: 'true'

permissions:
  contents: read

jobs:
  build:
    runs-on: self-hosted
    steps:
    
    # tmp show context:
    - name: Dump GitHub context
      run: echo '${{ toJSON(github) }}'
        
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Npm clean cache (needed?)
      run: pwd

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: 'npm'

    - name: Copy .npmrc (TBD)
      run: pwd

    - name: Java Installer for Fortify (TBD)
      run: pwd

    - name: Install Foritify packages (TBD)
      run: pwd

    - name: Extract Tar file for Fortify (TBD)
      run: pwd

    - name: Scan - Fortify (TBD)
      run: pwd

    - name: Publish - Fortify report (TBD)
      run: pwd

    - name: npm install, build(, and test)
      run: |
        npm install
        npm run build --if-present
        npm run test --if-present

    - name: 'Archive production artifacts'
      run: |
        mkdir -p ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
        tar -czvf ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node-app.tar.gz *
  
    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v3
      with:
        name: node-app
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node-app.tar.gz

    # SonarQube Scan
    - name: Scan code with SonarQube
      uses: sonarsource/sonarqube-scan-action@master
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

    # Collect the SonarQube Quality Gate status
    - name: SonarQube Quality Gate check
      id: sonarqube-quality-gate-check
      uses: sonarsource/sonarqube-quality-gate-action@master
      # Force to fail step after specific time.
      timeout-minutes: 5
      env:
       SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
       SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }} #OPTIONAL

    # Stop pipeline if Quality Gate failed.
    # The possible outputs of the `quality-gate-status` variable are `PASSED`, `WARN` or `FAILED`.
    - name: "Check SonarQube Quality Gate Status"
      run: |
        echo "The Quality Gate status is ${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}"
        if [ "${{ steps.sonarqube-quality-gate-check.outputs.quality-gate-status }}" != "PASSED" ]; then
          echo "Quality Gate failed"
          exit 1
        fi

    - name: Scan BlackDuck (TBD)
      run: pwd

  deploy:
    needs: build
    permissions:
      contents: read
    runs-on: self-hosted
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v3
      with:
        name: node-app
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

    - name: Extract artifact
      run: |
        tar -xvf ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/node-app.tar.gz -C ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

    - name: Azure Login
      if: env.IS_UPDATE_APPSETTINGS == 'true'
      uses: Azure/login@v1
      with:
        creds: '{"clientId":"${{ secrets.AZ_CLIENT_ID }}","clientSecret":"${{ secrets.AZ_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZ_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZ_TENANT_ID }}"}'

    - name: Update App Service Settings
      if: env.IS_UPDATE_APPSETTINGS == 'true'
      uses: Azure/appservice-settings@v1
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}        
        # slot-name: # optional # Name of an existing slot other than the production slot. Default value is production
        # Application settings using the JSON syntax set as value of secret variable: APP_SETTINGS
        app-settings-json: | # optional
          [
            {
              "name": "key1",
              "value": "value1",
              "slotSetting": false
            },
            {
              "name": "key2",
              "value": "value2",
              "slotSetting": false
            }
          ]
        # connection-strings-json: # optional # Connection Strings using the JSON syntax set as value of secret variable: CONNECTION_STRINGS
        # general-settings-json: # optional # General configuration settings using dictionary syntax - Key Value pairs
        # mask-inputs: # optional, default is true # Set it to false if you want to provide input jsons as plain text/you do not want input json values to be masked. This will apply to all input jsons. Default is true
      
    - name: Deploy to Stage slot
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
    
    - name: Wait validation (TBD)
      run: pwd

    - name: Swap slots (TBD)
      run: pwd
      
    - name: Az Logout
      if: env.IS_UPDATE_APPSETTINGS == 'true'
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az logout
          az cache purge
          az account clear
    
