name:  Create GitHub Release

on:
  push:
    branches: [ "main" ]


env:
  AZURE_WEBAPP_NAME: aanodejstest    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: '.'      # set this to the path to your web app project, defaults to the repository root
  NODE_VERSION: '18.x'                # set this to the node version to use


permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    # checkout code    
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # create release
    - name: Create release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
