name:  Create Release

on:
  push:
    branches: [ "research" ]
  workflow_dispatch:  

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    
    # checkout code    
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # create release
    - name: Create release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}1
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
